.location{
    position: relative;
    top: 150px;
    left: 150px;
}
.button{
    color: white;
    background-color: #51bfff;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transform: skewX(-45deg);
}

.zairu {
    width: 100%;
}

.skill_icon {
    width: 40px;
    height: 40px;
}