.item {
width:52px;
height:52px;
}

.ahalimushenzhang {
background: url(../images/itemsPictures/阿哈利姆神杖.jpg);
}

.atuosizhigun {
background: url(../images/itemsPictures/阿托斯之棍.jpg);
}

.anyinghufu {
background: url(../images/itemsPictures/暗影护符.png);
}

.anmie {
background: url(../images/itemsPictures/暗灭.png);
}

.aoshuxie {
background: url(../images/itemsPictures/奥术鞋.gif);
}

.baiyinzhifeng {
background: url(../images/itemsPictures/白银之锋.png);
}

.banjia {
background: url(../images/itemsPictures/板甲.png);
}

.biaoqiang {
background: url(../images/itemsPictures/标枪.png);
}

.buxiuzhishouhu {
background: url(../images/itemsPictures/不朽之守护.png);
}

.chihongjia {
background: url(../images/itemsPictures/赤红甲.jpg);
}

.cuiduzhizhu {
background: url(../images/itemsPictures/淬毒之珠.jpg);
}

.dagongzhishenli {
background: url(../images/itemsPictures/达贡之神力.jpg);
}

.dajian {
background: url(../images/itemsPictures/大剑.png);
}

.daidaluosizhishang {
background: url(../images/itemsPictures/代达罗斯之殇.jpg);
}

.donglixieliliang {
background: url(../images/itemsPictures/动力鞋(力量).gif);
}

.donglixieminjie {
background: url(../images/itemsPictures/动力鞋(敏捷).gif);
}

.donglixiezhili {
background: url(../images/itemsPictures/动力鞋(智力).gif);
}

.dongwuxinshi {
background: url(../images/itemsPictures/动物信使.jpg);
}

.dongchayandou {
background: url(../images/itemsPictures/洞察烟斗.gif);
}

.duangun {
background: url(../images/itemsPictures/短棍.png);
}

.emodaofeng {
background: url(../images/itemsPictures/恶魔刀锋.jpg);
}

.fashichangpao {
background: url(../images/itemsPictures/法师长袍.jpg);
}

.fenzhengmiansha {
background: url(../images/itemsPictures/纷争面纱.jpg);
}

.fenglingzhiwen {
background: url(../images/itemsPictures/风灵之纹.png);
}

.fengkuangmianju {
background: url(../images/itemsPictures/疯狂面具.png);
}

.foujueguashi {
background: url(../images/itemsPictures/否决挂饰.png);
}

.fuladimierdejipin {
background: url(../images/itemsPictures/弗拉迪米尔的祭品.gif);
}

.gangshaoshouwei {
background: url(../images/itemsPictures/岗哨守卫.png);
}

.gongjizhizhua {
background: url(../images/itemsPictures/攻击之爪.png);
}

.guijizhiwu {
background: url(../images/itemsPictures/诡计之雾.jpg);
}

.heihuangzhang {
background: url(../images/itemsPictures/黑皇杖.png);
}

.hudie {
background: url(../images/itemsPictures/蝴蝶.jpg);
}

.huwan {
background: url(../images/itemsPictures/护腕.gif);
}

.huanxinzhiren {
background: url(../images/itemsPictures/欢欣之刃.jpg);
}

.huanyingfu {
background: url(../images/itemsPictures/幻影斧.png);
}

.huifutoujin {
background: url(../images/itemsPictures/恢复头巾.gif);
}

.huiyao {
background: url(../images/itemsPictures/辉耀.jpg);
}

.huichengjuanzhou {
background: url(../images/itemsPictures/回城卷轴.jpg);
}

.huifujiezhi {
background: url(../images/itemsPictures/回复戒指.png);
}

.huiyinzhanren {
background: url(../images/itemsPictures/回音战刃.png);
}

.huiguang {
background: url(../images/itemsPictures/慧光.png);
}

hunzhilingweng {
background: url(../images/itemsPictures/魂之灵瓮.png);
}

.huolizhiqiu {
background: url(../images/itemsPictures/活力之球.jpg);
}

.jixianfaqiu {
background: url(../images/itemsPictures/极限法球.jpg);
}

.jiasushoutao {
background: url(../images/itemsPictures/加速手套.png);
}

.jianrenqiu {
background: url(../images/itemsPictures/坚韧球.gif);
}

.jingubang {
background: url(../images/itemsPictures/金箍棒.jpg);
}

.jinglingbudai {
background: url(../images/itemsPictures/精灵布带.jpg);
}

.jingqizhiqiu {
background: url(../images/itemsPictures/精气之球.jpg);
}

.jinghuayaoshui {
background: url(../images/itemsPictures/净化药水.jpg);
}

.jinghunzhiren {
background: url(../images/itemsPictures/净魂之刃.png);
}

.jingmizhixie {
background: url(../images/itemsPictures/静谧之鞋.gif);
}

卷轴.jpg);抗魔斗篷.png);}空灵挂件.gif空明杖.gif恐鳌之心.png);}枯萎之石.png);}狂战斧.jpg);阔剑.png);}雷神之锤.jpg);力量手套.jpg);力量腰带.jpg);林肯法球.gif灵魂之戒.gif玲珑心.png);}梅肯斯姆.gif秘银锤.png);}敏捷便鞋.jpg);魔棒.png);}魔法芒果.png);}魔力法杖.jpg);魔龙枪.png);}魔瓶.jpg);魔杖.gif莫尔迪基安的臂章.jpg);奶酪.png);}能量之球.jpg);凝魂之泪.png);}强袭装甲.png);}清莲宝珠.png);}穷鬼盾（已删）.gif刃甲.png);}韧鼓.gif撒旦之邪力.gif散华.png);}散夜对剑.jpg);闪避护符.png);}闪烁匕首.png);}深渊之刃.jpg);神秘法杖.jpg);圣剑.jpg);圣者遗物.jpg);食人魔之斧.jpg);守护指环.jpg);.shuzhijisi {
background: url(../images/itemsPictures/树之祭祀.jpg);
}刷新球.jpg);刷新球碎片.png);}水晶剑.jpg);斯嘉蒂之眼.gif死灵书.jpg);速度之靴.png);}碎颅锤.jpg);锁子甲.png);}天堂之戟.png);}天鹰之戒.gif挑战头巾.png);}铁树枝干.jpg);铁意头盔.png);}王者之戒.gif微光斗篷.png);}卫士胫甲.png);}吸血面具.png);}希梅斯特的掠夺.jpg);希瓦的守护.gif先锋盾.png);}贤者面罩.png);}显影之尘.jpg);仙灵之火.png);}相位鞋.gif邪恶镰刀.jpg);虚灵之刃.jpg);虚无宝石.jpg);玄冥盾牌.gif漩涡.png);}血棘.png);}血精石.png);}压制之刃.png);}炎阳纹章.png);}夜叉.png);}银月之晶.png);}鹰歌弓.jpg);影刃.jpg);影之灵龛.gif永恒之盘.png);}勇气勋章.gif幽魂权杖.png);}原力法杖.jpg);圆盾.png);}圆环.jpg);远行鞋.gif怨灵系带.gif陨星锤.png);}侦查守卫.jpg);真视宝石.png);}振奋宝石.jpg);镇魂石.png);}支配头盔.png);}知识之书.png);}.zhiliaoyaogao {
background: url(../images/itemsPictures/治疗药膏.jpg);
}治疗指环.jpg);智力斗篷.jpg);紫怨.jpg);Eul的神圣法杖.jpg);

